.approved_avatar {
  > div {
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
}

.approved_name {
  text-align: center;
  padding: 15px 0px 1px;
  font-size: 22px;
  font-weight: bold;
}

.approved_team {
  text-align: center;
  font-size: 18px;
}

.cv_icon {
  > div {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
