#simple-tabpanel-reg-1 {
  .MuiTypography-body1 {
    font-family: "Times New Roman", Times, serif;
  }
}

.fontB {
  font-weight: 600;
}

.posi {
  > div {
    position: absolute;
  }
}

.ml-10 {
  margin-left: 10px !important;
}

.stic {
  > div {
    position: sticky;
  }
}

.avatar {
  width: 140px;
  height: 180px;
  border-radius: 0;
}

.m-25px {
  margin-top: 25px;
}

.sig {
  margin-right: 60px;
  font-size: 18px;
}

.font-bo {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.inputBottom {
  position: relative;
  padding-left: 5px;
  margin-left: 5px;
  font-size: 17px;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 7px;
    height: 1px;
    border-bottom: 2px dotted #000;
  }
}

.justify-content-between {
  justify-content: space-between;
}

.inputName {
  text-transform: uppercase;
}

.bd-solid {
  border-radius: 0;
  border: 1px solid #000;
}

.font-roman {
  font-weight: 400 !important;
  font-family: "Times New Roman", Times, serif !important;
  font-size: 18px;
}

.m-bot {
  margin: 9px;
}

.MuiGrid-spacing-xs-4 > .MuiGrid-item {
  padding: 5px 16px;
}

#simple-tabpanel-reg-0,
#simple-tabpanel-reg-1,
#simple-tabpanel-reg-2 {
  border: 20px solid #ccc;
  min-width: 1013px;
}

#simple-tabpanel-reg-0 {
  ul {
    font-size: 15px;
  }
  span {
    font-size: 15px;
  }
}

#simple-tabpanel-reg-1 {
  padding: 40px 65px;
}

.cv_avatar {
  .MuiAvatar-root {
    width: 222px;
    height: 222px;
    margin: 0 auto;
  }
}

.ml-64 {
  margin-left: 61px !important;
}

.cv_icon {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 33px !important;
  line-height: 44px;
  font-size: 15px;
  letter-spacing: -0.05px;

  span {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bdbdbd;
    color: #fafafa;
    border-radius: 100%;
    position: absolute;
    left: -18px;
  }
}

.cv_right {
  padding-left: 31px;
  border-left: 2px solid #ccc;
  margin: 16px 0;
  flex-direction: column;
}

.cv_left {
  flex-direction: column;

  .start_container {
    display: flex;
    justify-content: space-between;
    padding: 15px 52px 0px 17px;

    .start_c {
      display: flex;
      margin-right: 22px;
      margin-top: 5px;
      margin-bottom: 5px;

      .start {
        width: 10px;
        height: 10px;
        background: #000;
        transform: rotate(45deg);
        margin: 0 10.5px;
      }

      .none-start {
        background: #ccc;
      }
    }
  }

  .cv-list {
    border: none;
    width: 100%;
    background-color: transparent;
    padding: 0;
  }
}

.py-12 {
  padding: 12px 0;
}

.pb-50 {
  padding-bottom: 50px;
}

.h-100 {
  height: 100%;
}

.work {
  padding: 10px 0px 0px 21px;
  font-size: 16.9px;
  letter-spacing: -0.9px;

  li {
    padding-bottom: 3px;
    letter-spacing: 0px;
  }
}

.pdt-49 {
  padding-top: 49.5px !important;
}

.btn-center {
  text-align: center;
  padding-top: 10px;
}

.ml-5 {
  margin-left: 5px;
}

.w-100 {
  width: 100%;
}

.pt-30 {
  padding-top: 30px;
}

.px-30 {
  padding: 27px 0 14px 0 !important;
}

.cv_container_left {
  width: 336px;

  .cv_avatar {
    margin: 0 auto;
    padding-top: 55px !important;
  }

  .cv_left {
    width: 100%;
  }

  .cv_skill {
    padding: 8px 0px 0 18px;

    h5 {
      font-size: 19px;
      letter-spacing: 0.6px;
      padding-top: 13px;
    }
  }

  .nnth {
    h5 {
      padding: 13.4px 0px 0px 16px;
      font-size: 20px;
      letter-spacing: 0px;
    }
  }

  .th {
    .start_container {
      padding: 12.5px 53px 0 16px;
    }
  }
}

.cv_container_right {
  width: 587.6px;
  margin-left: 9px;

  .cv_head {
    padding-left: 32px;
    border-left: 2px solid #ccc;
    letter-spacing: 3.5px;

    .cv_name {
      font-size: 39px;
      font-weight: 500;
      letter-spacing: 3.7px;
    }

    .cv_posion {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 3.3px;
      text-transform: uppercase;
      margin-top: -1px;
      margin-left: -1px;
    }
  }

  .cv_target {
    padding-left: 30px;
    border-left: 2px solid #ccc;

    h5 {
      font-size: 20px;
      padding: 4.4px 2px;
      letter-spacing: -0.1px;
    }

    p {
      background: #f7f7f7;
      border-radius: 10px;
      padding: 25px 18px 5px 14px;
      position: relative;
      margin: 6px 12px 0px 2px;
      letter-spacing: 0.36px;
      line-height: 22px;

      .quote_top {
        transform: rotate(180deg);
        position: absolute;
        top: 3px;
        left: 6px;
      }

      .quote_bot {
        position: absolute;
        right: 5px;
        bottom: 4px;
      }
    }
  }

  .cv_experience {
    margin: 35px 0;

    h5 {
      font-size: 20px;
      letter-spacing: -0.2px;
    }

    h6 {
      padding: 11px 0 0px 0px;
      font-size: 19px;
      letter-spacing: -0.3px;
      margin: 0;

      span {
        font-size: 18px !important;
        letter-spacing: 0px !important;
        margin-left: -2px;
      }
    }

    .inputName {
      letter-spacing: -0.7px;
      padding: 4px 0px 5px 1px;
    }
  }

  .kn {
    li {
      letter-spacing: -0.07px;
      padding: 0px 18px 0px 0px;
      margin-left: -2px;
    }

    .work {
      padding: 9px 0px 0px 25px;
    }
  }

  .cc {
    margin: -12px 0 0 0;

    h5 {
      margin: 0;
      letter-spacing: 0.3px;
    }
  }
}

.wp_hv {
  margin: 22px 0 0 0 !important;
  padding: 0px 0px 0 28px !important;
}

.pt-12 {
  padding-top: 22px !important;
}

.pt-2 {
  padding-top: 2px !important;
}

.pt-18 {
  padding-top: 23px !important;
}

.mt-14 {
  margin-top: 14px !important;
}

.sign_name {
  font-size: 17px;
  font-style: italic;
}
