.MuiPaper-elevation2 {
  width: 100%;
}

.emp_search {
  input {
    padding: 10px 0 9px !important;
    min-width: 280px;
  }
}

.MuiOutlinedInput-marginDense .MuiInputBase-input {
  padding: 10px 5px 9px 8px !important;
}

.justifyCenter {
  justify-content: center !important;
}

.MuiDialogContent-root:first-child {
  padding: 0 24px;
  padding-top: 0 !important;
}

// #simple-tabpanel-0 {
//     >div {
//         padding: 24px 0 !important;
//     }
// }

.employeeAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .MuiAvatar-root {
    min-width: 135px;
    height: auto;
    margin: 15px 0;
  }
}

.my {
  margin: 0 10px 30px 0 !important;
}

.w-100 {
  width: 100%;
}

.emp_action {
  width: 10px;
}
