.employeeForm {
  background: #ccc;
  padding: 15px;

  .subEmployeeForm {
    background: #ffffff;
    padding: 30px;
    font-family: "Times New Roman", Times, serif;

    .titleEmployeeForm {
      text-align: center;
      margin: 20px 0;
    }

    .contentEmployeeForm {
      font-style: italic;
    }

    .sigLeft {
      display: flex;
      justify-content: flex-end;
    }

    .pb-50 {
      padding-bottom: 120px;
    }
  }

  .sigEmployeeForm {
    margin: 25px 0px;
    width: 350px;
    justify-content: center;
    font-size: 18px;
  }

  .fontB {
    font-weight: bold;
  }
}

.MuiGrid-spacing-xs-4 > .MuiGrid-item {
  padding: 5px 16px;
  font-size: 18px;
}

.bor_bot {
  position: relative;
  margin: 0 5px;
  font-size: 17px;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 2px;
    height: 1px;
    border-bottom: 2px dotted #000;
  }
}

.fl-colum {
  flex-direction: column;
}

.break_line {
  word-wrap: break-word;
}

.widthEmployeeForm {
  display: flex;

  > div {
    width: 100%;
  }

  .widthEmployeeForm_name {
    width: 100px;
  }

  .widthEmployeeForm_title {
    width: 200px;
  }

  .widthEmployeeForm_content {
    width: 290px;
  }

  .widthEmployeeForm_note {
    width: 60px;
  }

  .widthEmployeeForm_position {
    width: 260px;
  }

  .inlineBlock {
    > div {
      display: inline-block;
    }
  }

  .customUnderline {
    width: 100%;

    textarea {
      font-size: 17px;
      font-family: "Times New Roman", Times, serif;
      line-height: 1.5;
    }
  }

  .customUnderline .MuiInput-underline:before {
    border-bottom: none !important;
  }

  .customUnderline .MuiInput-underline:after {
    border-bottom: none !important;
  }

  .w-15 {
    width: 15px;
  }

  > .border_bot {
    position: relative;
    width: 100%;
    display: block;
    font-size: 17px;
    padding-top: 1px;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 5px;
      height: 1px;
      border-bottom: 2px dotted #000;
    }
  }

  .bot_13 {
    &::after {
      bottom: 13px !important;
    }
  }
}

.sign_name {
  font-size: 17px;
  font-style: italic;
}
