.pending_search {
  padding-bottom: 20px;
  input {
    padding: 0px 0 6px !important;
    min-width: 280px;
  }
}

.MuiPaper-elevation2 {
  width: 100%;
}

// .MuiOutlinedInput-marginDense .MuiInputBase-input {
//   padding: 10px 5px 9px 8px !important;
// }

.justifyCenter {
  justify-content: center !important;
}

.MuiDialogContent-root:first-child {
  padding: 0 24px;
  padding-top: 0 !important;
}

.employeeAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .MuiAvatar-root {
    min-width: 135px;
    height: auto;
    margin: 15px 0;
  }
}

.my {
  margin: 6px 6px 6px 0 !important;
}

.w-100 {
  width: 100%;
}

.pd-10 {
  padding: 9px 24px;
  overflow: hidden;
}

.pdr-8 {
  padding-right: 8px;
}
