.signup {
  background: #1a2038;

  .signup-card {
    max-width: 1000px;
    border-radius: 12px !important;
    img {
      width: 300px;
    }
  }

  .signup-card-customs {
    max-width: 1000px;
    border-radius: 12px !important;
    img {
      width: 200px;
    }
  }
}
